<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>API Timestamp Microservice</title>
        <!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="URL Shortener Microservice"/>
        <meta name="author" content="Ronald"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    </head>

    <body>
        <div class="container-fluid">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/000/223/385/3b24119.jpg" alt="My Face"/>
            <p><a href="mailto:pnald.blanco@gmail.com"> <i class="fa fa-envelope fa-fw"></i></a>
            <a href="https://github.com/ronaldblanco" target="_blank"> <i class="fa fa-github fa-fw"></i></a>
            <a href="https://www.linkedin.com/in/ronald-blanco-carrazana-5b506268/" target="_blank"> <i class="fa fa-linkedin"></i></a>
            <a href="http://codepen.io/ronaldblanco/#" target="_blank"> <i class="fa fa-codepen"></i></a>
            <!--<a href="https://rafase282.wordpress.com/" target="_blank"> <i class="fa fa-wordpress"></i></a>-->
            <a href="https://www.freecodecamp.com/ronaldblanco" target="_blank"><i class="fa fa-fire fa-fw"></i></a></p>
            <p>Created by Ronald Blanco.</p>
        
            <h1 class="header">
                API Timestamp Microservice
            </h1>
            <blockquote>
                User stories:
                <ul>1) I can pass a string as a parameter, and it will check to see whether that string 
                contains either a unix timestamp or a natural language date (example: Jan 1, 2016)</ul>
                <ul>2) If it does, it returns both the Unix timestamp and the natural language form of that date.</ul>
                <ul>3) If it does not contain a date or Unix timestamp, it returns null for those properties.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://.../Dec%2015,%202015<br> https://.../December%2015,%202015<br> https://.../Dec 15, 2015</code><br>
            <code>Or https://.../145013760000</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 145013760000,
                  "natural": "Tue Dec 15, 2015"
                }
            </code>
        </div>
    </body>
</html>